{#
/**
 * @file
 * Hero Banner paragraph template.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 *   - field_bayph_jivi_img n: Hero image.
 *   - field_bayph_jivi_title: title on image.
 *   - field_bayph_jivi_body: body on image
 * - bayer_slogan: Bayer Logo on hero image from site appeareance .
 * - logopath: Brand Logo on hero image from site appeareance .
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'hero-paragraph'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="bayer-banner-block">
        <div class="bayer-hero-image">
          <div class="bayer-logo">
            <div class="slogan-image">
              <a href = "{{bayer_logo_redirect_url}}">
              <img src = "{{ bayer_slogan }}" alt = "bayer-logo">
              </a>
            </div>
          </div>
          <div class = "bayer-site-name">
            <a href="{{ path('<front>') }}" >
              <img src="{{ logopath }}" alt="{{ 'Home'|t }}" />
            </a>
          </div>
          <div class="banner-image">
            {% if content.field_bayph_jivi_img %}
              {{ content.field_bayph_jivi_img }}
            {% endif %}
            {% if content.field_mobile_hero_image %}
              {{ content.field_mobile_hero_image }}
            {% endif %}
          </div>
        </div>
        <div class="field_bayph_site_title">
          {{ content.field_bayph_jivi_title }}
        </div>
        <div class="field_bayph_site_body">
          {{ content.field_bayph_jivi_body }}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}

{% if jivi_breadcrumbs %}
<div class="breadcrums" >
  {{ jivi_breadcrumbs }}
</div>
{% endif %}
